<mat-list>
    <div *ngFor="let cc of currencyList" >
          <mat-card class="example-card" id="{{cc.name}}">
            <mat-card-title-group>
                <img mat-card-sm-image src="{{cc.image}}" >
                <mat-card-title>{{cc.name}}  <button mat-button>({{cc.symbol}} - n.{{cc.market_cap_rank}})</button>
                </mat-card-title>
                <mat-card-subtitle>
                    <button mat-button>price: {{cc.current_price}} $</button>
                    <button mat-button color="{{cc.percColor}}">{{cc.price_change_percentage_24h}} %</button>
                </mat-card-subtitle>
            </mat-card-title-group>
            <mat-card-actions>
            </mat-card-actions>
            <mat-list *ngFor="let entry of cc.entryList" >
              <mat-list-item> {{entry.qty}} 
               {{entry.price}} </mat-list-item>
             </mat-list>
            <mat-card-content>
              
            </mat-card-content>
          </mat-card>
    </div>
</mat-list>

