<!-- fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-around center" fxLayoutGap="25px" -->
<div class="flex-container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-around" fxLayoutGap="50px">
  <div *ngFor="let cc of currencyList" class="flex-item">
    <!--  -->
    <mat-card class="example-card" id="{{cc.name}}" fxFlex="calc(80%-25px)" fxFlex.sm="calc(80%-25px)">
      <mat-card-title-group>
        <img mat-card-sm-image src="{{cc.image}}">
        <mat-card-title>{{cc.name}}
          <button mat-button color="{{cc.percColor}}">{{cc.price_change_percentage_24h}} %</button>
        </mat-card-title>
        <mat-card-subtitle>
          <div>
            <span>({{cc.symbol}} - n.{{cc.market_cap_rank}})</span>
            <span>price: {{cc.current_price}}$</span>
          </div>
          <div>
            <span>
              {{cc.totalQty}} <mat-icon>alternate_email</mat-icon>
              avg: {{cc.buyPriceAverage}}$
            </span>
            <span class="span-{{cc.buyPriceAveragePerc>0 ? 'green' : 'red'}}">
              <mat-icon class="md-{{cc.buyPriceAveragePerc>0 ? 'green' : 'red'}}">
                {{getTrending(cc.buyPriceAveragePerc)}}</mat-icon>
              {{cc.buyPriceAveragePerc}}% {{cc.buyPriceAverageGainLoss}}$
            </span>

          </div>

          <!-- <div>
            <button mat-button>qty: {{cc.totalQty}}</button>
            <button mat-button>avg: {{cc.buyPriceAverage}}$</button>
          </div> -->
          <!-- <div>
            <button mat-button>{{cc.buyPriceAveragePerc}}%</button>
            <button mat-button>{{cc.buyPriceAverageGainLoss}}$</button>
          </div> -->
        </mat-card-subtitle>
      </mat-card-title-group>
      <!-- <mat-card-actions>
        </mat-card-actions> -->
      <mat-card-content *ngIf="showEntries">
        <mat-list *ngFor="let entry of cc.entryList; last as isLast;">
          <mat-list-item>
            <ccentry [entry]="entry"> </ccentry>
          </mat-list-item>
          <mat-divider *ngIf="!isLast"></mat-divider>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>

</div>
<!-- <mat-icon>euro_symbol</mat-icon> 
<mat-icon>update</mat-icon> refresh
<mat-icon>loop</mat-icon> refresh 2

-->