<div fxLayout="row" fxLayoutAlign="center">
    <span class="span-{{staking[1]}}">
        <mat-icon class="md-{{staking[1]}}">{{staking[0]}}</mat-icon>
    </span>
    <span>
        {{entry.qty}} <mat-icon>alternate_email</mat-icon>
        {{entry.price}}$ (<span *ngIf="this.shs.showEntryDate">on {{ entry.date | date :'dd/MM/yy'}}</span>
        {{calculateEntryVal(entry.qty, entry.price)}}$)
    </span>
    <span class="span-{{perc>0 ? 'green' : 'red'}}">
        <mat-icon class="md-{{perc>0 ? 'green' : 'red'}}">{{getTrending(perc)}}</mat-icon> {{perc}}% {{gainloss}}$
    </span>
</div>