.siteName {
  font-size: 150%;
}

.mat-toolbar {
  background-color: rgb(62, 63, 63);
  height: 5vh;
}

div {
  overflow: inherit;
}

.mat-sidenav-container {
  background-color: rgb(119, 121, 122);
  min-height: 93vh !important;
}

a {
  text-decoration: none;
  font-size: 110%;
  white-space: normal;
}

button {
  font-size: 110%;
  min-width: min-content;
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-sidenav-content {
  font-size: 100%;
  text-align: left;
  min-width: 200%;
}