<div>
  <mat-toolbar>
    <div fxShow="true" fxHide.gt-sm="true">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <a mat-button class="siteName" routerLink="/" fxShow="true" fxHide.lt-md="true">
      <span>Christo Currency Stats </span>
    </a>
    <a mat-button class="siteName" routerLink="/" fxShow="true" fxHide.gt-sm="true">
      <span>C C Stats </span>
    </a>
    <span class="spacer-big"></span>
    <div fxShow="true" fxHide.lt-md="true">
      <mat-slide-toggle (change)="this.shs.showTotals = !this.shs.showTotals">balance</mat-slide-toggle>
      <span class="spacer-small"></span>
      <mat-slide-toggle (change)="this.shs.showEntries = !this.shs.showEntries">entries</mat-slide-toggle>
      <span class="spacer-small"></span>
      <mat-slide-toggle (change)="this.shs.showATH = !this.shs.showATH">ath</mat-slide-toggle>
      <!-- <a href="static-pages/staticCCStats.html">ccstatic</a> -->
    </div>
  </mat-toolbar>
  <mat-sidenav-container fxFlexFill class="example-container">
    <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over" opened="false" fxHide.gt-sm="true">
      <div fxLayout="column">
        <mat-slide-toggle (change)="this.shs.showTotals = !this.shs.showTotals">totals</mat-slide-toggle>
        <mat-divider></mat-divider>
        <mat-slide-toggle (change)="this.shs.showEntries = !this.shs.showEntries">entries</mat-slide-toggle>
        <mat-divider></mat-divider>
        <mat-slide-toggle (change)="this.shs.showATH = !this.shs.showATH">ath</mat-slide-toggle>
      </div>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <ccurrency [user]="user" [shs]="shs"></ccurrency>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <!-- footer -->
  <mat-toolbar>
    <span class="spacer-big"></span>
    <div fxShow="true" fxHide.lt-md="true">
      <mat-slide-toggle (change)="this.shs.showEntries = !this.shs.showEntries">show entries</mat-slide-toggle>
    </div>
  </mat-toolbar>
</div>