/* You can add global styles to this file, and also import other style files */


html, body { margin: 0%; height: 100%; }
body { margin: 0%; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-success {
    background-color: rgb(255, 0, 0);
    color: rgb(0, 0, 0);
}

.mat-red {
    background-color: rgb(255, 0, 0);
    color: rgb(0, 0, 0);
}
.mat-green {
    background-color: rgb(81, 255, 0);
    color: rgb(0, 0, 0);
}

.mat-icon {
    font-size: 16px;
    vertical-align: middle;
  }

  .icon-text {
    display: flex;
    align-items: center;
}
